#profile
{
width:100%;
height:100%;
background:#000;
position:fixed;
top:0;
right:0;
bottom:0;
left:0;
opacity:0.9;
z-index:1000;

}

#userinfo
{
border-radius:8px;
background:#fff;
width:600px;
height:450px;
margin:0 auto;
position:absolute;
top:20%;
right:20%;
bottom:10%;
left:40%;
z-index:1500;
box-shadow:0 0 50px green;
-o-box-shadow:0 0 50px green;
-moz-box-shadow:0 0 50px green;
-webkit-box-shadow:0 0 50px green;
-ms-box-shadow:0 0 50px green;
}

#close
{
cursor:pointer;
width:30px;
background:#ccc;
color:#fff;
text-align:center;
font-size:16px;
font-weight:bold;
box-shadow:0 0 5px green;
-webkit-box-shadow:0 0 5px green;
-moz-box-shadow:0 0 5px green;
-ms-box-shadow:0 0 5px green;
-o-box-shadow:0 0 5px green;
position:absolute;
bottom:55%;
right:190px;
border:1px solid #fff;
display:none;
}

#loader
{
position:absolute;
border-radius:8px;
background:rgba(255,255,255,1.6) url('images/loader.gif') no-repeat 50%;
width:600px;
height:450px;
margin:0 auto;
position:absolute;
top:20%;
right:20%;
bottom:10%;
left:40%;
z-index:1500;
box-shadow:0 0 50px green;
-o-box-shadow:0 0 50px green;
-moz-box-shadow:0 0 50px green;
-webkit-box-shadow:0 0 50px green;
-ms-box-shadow:0 0 50px green;
line-height:450px;
display:none;

}




